@use "variables" as *;

// Remove default block gap above footer.
:where(.wp-site-blocks) > footer {
	margin-block-start: 0;
}

// Footer columns
.footer-col {
	@media (max-width: $breakpoint-xl) {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr) !important;
		gap: 20px;
	}

	@media (max-width: 567px) {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

@media (max-width: $breakpoint-md) {
	.footer-col .wp-block-site-logo img {
		width: 75px;
		height: 95px;
	}

	.footer-col h2 a {
		font-size: 22px !important;
	}

	.footer-col-outer .footer-col {
		gap: 20px;
		display: grid !important;
		grid-template-columns: repeat(3, 1fr) !important;

		.footer-about-col {
			text-align: center !important;
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.footer-col-outer .footer-col {
		grid-template-columns: 1fr !important;

		.footer-about-col {
			text-align: left !important;
		}
	}
}

// Responsive grid
@media (max-width: $breakpoint-md) {
	.is-layout-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

// Column wrap at large breakpoint
@media (max-width: $breakpoint-lg) {
	.new-updates-row {
		flex-wrap: wrap !important;
	}

	.wp-block-column {
		flex-grow: 0 !important;
		flex-basis: 100% !important;
	}
}
