@use "variables" as *;

.wp-block-loginout a {
	color: var(--wp--preset--color--base);
	text-decoration: none;
	transition: opacity $transition-fast;

	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}
}
