@use "variables" as *;

// Force search block into content-width container
.wp-block-search {
	max-width: 1320px !important;
	display: block !important;
	text-align: left !important;
}

.wp-block-search__inside-wrapper {
	max-width: 402px !important;
	margin-left: 0 !important;
	margin-right: auto !important;
	justify-content: flex-start !important;
	border: 1px solid var(--wp--preset--color--border) !important;
}

.wp-block-search__input {
	text-align: left !important;
	flex: 1 1 auto !important;
	color: var(--wp--preset--color--contrast-muted) !important;
}

.wp-block-search__button {
	flex: 0 0 auto !important;
	background-color: var(--wp--preset--color--base) !important;
	color: var(--wp--preset--color--contrast-muted) !important;
}

.wp-block-search__label {
	color: var(--wp--preset--color--accent) !important;
	font-weight: 600;
	font-size: 22px;
}
